<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <DiffEngine_ToolOrder>Neovim</DiffEngine_ToolOrder>
      <DiffEngine_Disabled>false</DiffEngine_Disabled>
      <DiffEngine_TargetOnLeft>false</DiffEngine_TargetOnLeft>
      <DiffEngine_MaxInstances>5</DiffEngine_MaxInstances>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
