
# All files
[*]
indent_style = space

# Xml files

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = silent

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = silent

# IDE0007: Use implicit type
csharp_style_var_when_type_is_apparent = true

[*.xml]
indent_size = 2
